body {
  background:grey;
  font-family: arial, Helvetica, sans-serif;
  font-size:15px;
  line-height: 1.5;
  padding:0;
  margin:0;
  background-color: #f4f4f4;

}
h1 {
  color:#333;
}
a {
  color:orange;
}
#bami_geschiedenis {
  color:blue;
  padding: 50px;
}
